$content: #1e1e1e;
$gray: #555555;
$gray-20: #DFE1E6;
$gray-40: #F3F5F7;
$gray-60: #696C71;
$green: #228834;
$greenLink: #118834;
$greenHovered: #0e752c;
$greenPressed: #168738;
$greyDisabled: #C4C8D0;
$base: #ffffff;