
* {
  /* фиксит флексы */
  min-width: 0px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #f8f8f8;
  color: #1e1e1e;
  font-size: 15px;
  line-height: 160%;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

button {
  transition: all 300ms ease;
  user-select: none;
  cursor: pointer;

  &:hover {
    background-color: #0e752c;
  }
}

h1 {
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 120%;
    font-weight: 900;
}

h2 {
  margin-bottom: 40px;
  font-weight: 900;
  font-size: 30px;
  line-height: 120%;


  @media (min-width: 768px) {
    font-size: 35px;
  }
  @media (min-width: 1440px) {
    font-size: 40px;
  }
}

h3 {
  font-size: 18px;
  line-height: 120%;
  margin-bottom: 14px;

  @media (min-width: 1024px) {
    font-size: 20px;
  }

  @media (min-width: 1440px) {
    font-size: 24px;
  }
}

.hidden-scroll {
  overflow: hidden;
}