@use "../../assets/scss/colors.scss";
@use '../../assets/scss/mixin.scss';
@use '../../assets/scss/media.scss';

.modalWrapper {
  position: absolute;
  height: 100vh;
  top: 0;
  width: 100%;
  z-index: 1000000000;
  background: #13121229;

  &[data-open="true"] {
    display: block;
  }

  &[data-open="false"] {
    display: none;
  }

  .modal {
    padding: 40px 8px 0px;
 
    overflow: auto;
    border: none;
    border-radius: 15px;
    width: 350px;
    margin: 0 auto;
    background: white;
  
    .wrapper {
      display: flex;
      justify-content: space-between;
    }
  
    .close {
      position: absolute;
      top: 10px;
      right: 10px;
      padding: 8px 10px;
      border: none;
      border-radius: 16px;
      z-index: 15;
    }
  }
}

dialog {
  margin-top: 20px;
  padding: 0;
  height: 100vh;
  width: 100%;
  max-width: none !important;
  max-height: none !important;


  @include mixin.mediaMinWidth(media.$tablet) {
    // margin: 20px auto 0 auto;
    max-width: 644px !important;
    min-width: 655px;
    max-height: 790px !important;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: auto;
  }
}

dialog::backdrop {
  overflow: hidden;
}

// [attr=value]