@use "../../assets/scss/colors.scss";
@use '../../assets/scss/mixin.scss';
@use '../../assets/scss/media.scss';

.form {
  position: relative;
  max-width: 572px;
  width: 100%;
  padding-right: 60px;
  border-radius: 8px;
  box-shadow: 0px 1px 5px 0px #00144324;


  .input {
    padding: 18px 24px;
    width: 100%;
    border: none;
    background-color: inherit;

    &:active,
    :hover {
      border: none;
    }

    &::placeholder {
      color: colors.$content;
    }
  }

  .btn {
    position: absolute;
    right: 10px;
    top: 3px;
    padding: 9px 10px;
    background-color: colors.$green;
    border-radius: 10px;
    border: none;
  }
}