@use '../../shared/assets/scss/mixin.scss';
@use '../../shared/assets/scss/media.scss';

.wrapper {
  user-select: none;
  padding: 24px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 24px;
}