.reservation-section {
  margin-bottom: 140px;


  
  .reservation-wrapper {
    display: flex;
    align-items: center;
    gap: 40px;
    
    .reservation-img {
      width: 100%;
      max-height: 65vh;
    }

    .reservation-info {
      max-width: 620px;

      .reservation-description {
        margin-bottom: 40px;
      }

      .reservation-btn {
        padding: 20px 40px;
        background-color: #118834;
        color: white;
        border-radius: 10px;
        border: none;
      }
    }
  }
}