.rental-section {
  text-align: center;
  margin-bottom: 280px;

  .rental-wrapper {
    max-width: 960px;
    margin: 0 auto;
  }

  .rental-items {
    display: grid;
    gap: 20px;

    @media (min-width: 768px) {
      grid-template-columns: 1fr 1fr;
    }
  }
}