.header {
  position: fixed;
  padding: 10px 40px;
  width: 100%;
  background-color: white;
  z-index: 10;

  .logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav {
    display: flex;
    align-items: center;

    .nasv-list {
      display: flex;
      gap: 15px;
      margin-right: 60px;
      list-style: none;

      .nav-item {
        padding: 20px;

        .nav-link {
          transition: all 300ms ease;
          font-weight: 500;

          &:hover {
            color: #118834;
          }
        }
      }
    }

    .header-button {
      transition: all 300ms ease;
      padding: 15px 35px;
      font-size: 17px;
      font-weight: 700;
      background-color: #118834;
      color: white;
      border-radius: 10px;
      border: none;
      
          &:hover {
            background-color: #0e752c;
          }
    }
  }
}